.me-head{
	background-color: #1E90FF;
}
.me-head-pic{
	padding: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}
#head-portrait{
	width: 80px;
	height: 80px;
	border-radius: 40px;
}
.me-name{
	padding-left: 0;
	padding-top: 30px;
	font: 20px "微软雅黑";
}
#signature{
	margin-top: 5px;
	font-size: 16px;
}
.head-font{
	padding: 0;
	padding-top: 10px;
}
.static{
	background-color: #026fd9;
	text-align: center;
	font: 16px "微软雅黑";
}
.static-send,.static-patient,.static-attention,.static-cure{
	margin: 10px 0 0 0;
}
.selfunction{
    font: 20px "微软雅黑";
}
.selfunction-front{
	padding-right: 0;
	text-align: center;
}
.selfunction-front-font{
	padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DCDCDC;
    color: #1E90FF;
}
.selfunction-name{
	padding-left: 0;
	padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DCDCDC;
}
.selfunction-right{
	padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DCDCDC;
}
.par-self{
	border-top: 7px solid #DCDCDC;
}