body{
	font-family: "微软雅黑";
}
img{
	/*height: 90%;*/
	width: 90%;
}
i{
	font-size: 25px;

}
/*首页*/
.doctor,.type,.chatHead{
	height: 10%;
	background-color: #1E90FF;
	color: #fff;
	padding: 0;
	/*font-family: "微软雅黑";*/
}
.dt_head{
	margin-top: 3%;
	padding-right: 0;
}
.dt_head img{
	border-radius: 50%;
	padding: 50% auto;
}
.dt_message{
	margin-top: 3%;
	padding-right: 0;
}
.dt_name{
	padding-right: 0;
}
.dt_status{
	border-radius: 5%;
	/*width: 100px;*/
	padding: 0;
	background-color:#11cd6e;
	color: #000;
	text-align: center;
}
.dt_introduction{
	overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.set{
	margin-top: 3%;
	padding-right: 0;
}
.dt_function{
	border-bottom: 1px #ccc solid;
}
.dt_function p{
	font-size: 3vw;
	font-weight: bold;
}
.funcType{
	text-align: center;
	font-size: 12px;
}
.funcPic{
	width: 70%;
	margin-top: 15%;
}
/*执医成就*/
.dt_achieve{
	position: absolute;
	top:0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.3);
	z-index: 100;
}
#closeAch{
	position: relative;
	top: 10%;
	left: 88%;
	width: 10%;
	z-index: 105;
}
#dt_ach{
	position: relative;
	top: 10%;
	height:73%; 
	width: 80%;
	left: 10%;
	background-color: #fff;
	text-align: center;
	overflow: scroll;/*溢出部分滚动条*/
}
#ach_title{
	text-align: center;
	line-height: 200%;
	font-size: 20px;
	background:url(pic/bg.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	padding-bottom:18%;
}
.dt_eva{
	border-bottom: 1px #ccc solid;
	padding-top: 5%;
}
#grade{
	color: #fff;
	margin-left: 30%;
	width: 40%;
	border-radius: 10px;
	background-color: #FF4040;
}
.bold_word{
	font-size:16px;
	font-weight:bold;
}
.dt_eva span{
	font-size: 25px;
	color: red;
}
/*正在处理*/
.patientlist a{
	color: #000;
}
#patient1{
	border-bottom: 1px #e1e1e1 solid;
	background-color: #fff;
}
#patient1 img{
	border-radius: 50%;
	padding: 50% auto;
}
.information{
	overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    color: gray;
    margin-top: 5%;
}
.time{
	color: #d1d1d1;
}
.tip{
    width: 10px;
    height: 10px;
	border-radius: 5px;
	background-color: pink;
	margin-top: 30%;
    background-color: red;
    color: #FFF;
    text-align: center;
    float: right;
}
.patientList1_accepted a{
	color: #000;
}
.patientList2_unaccepted a{
	color: #000;
}
.nav{
	background-color: #FFF;
	border-top: 2px gray solid;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 100;
}
.page1,.page2,.page3,.page4{
	text-align: center;
}
.clDiv{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 10;
}
/*set*/
.setDiv{
	width: 50%;
	height: 10%;
	border: 1px gray solid;
	background-color: #fff;
	position: absolute;
	top: 5%;
	right: 0;
	z-index: 100;
	text-align: center;
	line-height: 200%;
}
#start{
   height: 50%;
   border-bottom: 2px gray solid;
}
/*系统消息*/
.dt_sysMes{
	padding-top: 3%;
	text-align: center;
}
/*网络咨询*/
.consult_content{
	margin-top: 15%;
	text-align: center;
}
.newPatient,.nowPatient,.allPatient{
	border-bottom: 1px #ccc solid;
	padding-bottom: 2%;
}
.example_consult{
	margin-top: 1%;
	padding-left: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-top: 1px #ccc solid;
	border-bottom: 1px #ccc solid; 
	text-align: left;
}
.replyConBtn{
	border: 1px #FFC125 solid;
	color: #FFC125;
    padding: 0;
    margin-left: 10%;
    text-align: center;
    border-radius: 3px;
}
#netreply_Consult{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.3);
	z-index: 100;
}
#netreplyTitle{
	padding-top: 3%;
	padding-bottom: 3%;
	font-size: 5vw;
	background-color: #aad08f;
	color: #fff;
}
.net_patNum{
	text-align: left;
	padding-top: 5%;
	padding-left: 8%;
	padding-right: 8%;
	font-size: 4.5vw;
	border: 2px #aad08f dashed;
}
#dt_netReply{
	width: 80%;
	margin-top: 5%;
	border: 1px #aad08f solid;
	outline: none;
}
#dt_reT{
	margin-top: 5%;
	font-size: 16px;
	font-weight: bold;
}
#netreply_btn{
	float: right;
	background-color: #aad08f;
	width: 20%;
	color: #fff;
	margin-right: 10%;
}
.example_consult img{
	width: 8%;
	float: right;
}
.repliedMark{
    border: 1px #aad08f solid;
	color: #aad08f;
    padding: 0;
    margin-left: 70%;
    text-align: center;
    border-radius: 3px;
}
.replyMark{
	border: 1px #f4c600 solid;
	color: #f4c600;
    padding: 0;
    margin-left: 70%;
    text-align: center;
    border-radius: 3px;
}
/*患者报到*/
.dt_signPat{
	border-bottom:1px #ccc solid;
	padding-top: 3%;
	background-color: #f3f3f3;
}
.dt_goodjob{
	width: 5%;
	margin-left: 45%;
	margin-bottom: 2%;
}
.dt_knowMore{
	border: 1px #a4579d solid;
	width: 20%;
	color: #a4579d;
	border-radius: 5px;
	margin-left: 80%;
	margin-bottom: 3%;
	text-align: center;
}
/*thirdpage--我的患者*/
.type{
	width: 100%;
	position: fixed;
	z-index: 50;
	top: 0;
}
.accepted{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	background-color: #fff;
	border: 1px #fff solid;
	color: #1E90FF;
	text-align: center;
	margin:5% auto;
	display: inline-block;
}
.un-accepted{
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #1E90FF;
	border: 1px #fff solid;
	text-align: center;
	margin:5% auto;
	display: inline-block;
}
.psearch{
	background-color: #fff;
	height: 60%;
}
#patientInput{
	background-color: #f1f1f1;
	color: #a1a1a1;
	margin: 2%;
	border-radius: 3px;
	text-align: center;
}
#patientInput input{
	border: 0;
	background-color:#f1f1f1;
	outline: none;
}

/*chatPage*/
.chatHead{
	width: 100%;
	height: 8%;
	position: fixed;
	top: 0;
	z-index: 100;
}
.chatContent{
	width: 100%;
	position: absolute;
	top: 8%;
	bottom: 5%;
	left: 0;
	background-color:#f3f3f3;
}
.patientNum{
	margin:5% auto;
	text-align: center;
}
.return{
	position: fixed;
	top: 2%;
	left: 10%;
	z-index: 100;
}
#ct_knowMore{
	width: 10%;
	position: fixed;
	top: 2%;
	right: 5%;
	z-index: 100;
}
.moreContent{
	position: absolute;
	top: 6%;
	width: 40%;
	right: 0;
	/*height: 40%;*/
	background: #fff;
	z-index: 105;
	border: 1px #ccc solid;
}
.ct_binding{
	/*color: #ccc;*/
	padding: 5%;
	border-bottom: 1px #ccc solid;
}
.moreContent img{
    width: 16%;
	padding-left: 5%;
	/*padding-right: 5%;*/
}
#ct_imgBind{
	width: 15%;
	padding-left: 5%;
}
.input{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: center;
}
.chatIp{
	background-color: #fff;
}
.input input{
	width: 70%;
	border: 0;
	border-bottom: 1px #e1e1e1 solid;
	margin:5% auto;
	outline: none;/*取消focus后出现的边框*/
}
.input span{
	display: inline-block;
    width: 15%;   
    height: 60%;   
    background: #c1c1c1; 
    line-height: 200%;   
    cursor: pointer;/*//鼠标形态的变化*/
    text-align: center;
    border-radius: 5px; 
    color: #fff;
    margin-left: 5%;
}
.chatContent{
	width: 100%;
	padding: 0;
}
.chatContent li {
    display: block;   
    clear: both;   
    overflow: hidden; 
    position: relative;  
    margin-top: 3%;
    margin-right: 5%;
} 
.chatContent li img{
	float: right;
	width: 15%;
	border-radius: 50%;
	/*left: 1%;*/
	/*padding: 50% auto;*/
}
.chatContent li p{
	border-bottom: 1px #ccc solid;
}
.chatContent li span{   
    background: #fff;   
    padding: 2%;   
    border-radius: 5px;   
    float: right;   
    margin: 3% 3% 0 3%;
    max-width: 70%;   
    border: 1px solid #ccc; 
} 
#warning{
	background: rgba(0,0,0,0.4);
	width: 40%;
	text-align: center;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 30%;
}
#moreTip{
    background: rgba(50,20,200,0.3);
	width: 50%;
	text-align: center;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 25%;
	/*height: 40px;*/
	/*line-height: 200%;*/
	padding: 5%;
}
.treatWay{
	/*position: absolute;*/
	width: 100%;
	bottom: 10%;
	/*border-bottom: 1px #ccc solid;*/
	background:rgba(255,255,255,0);
}
.reply{
	width: 100%;
	position: relative;
	z-index: 50;
	/*position: absolute;*/
	top: 0;
}
.firstTreat{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	background-color: #fff;
	border-top: 1px #ccc solid;
	/*color: #1E90FF;*/
	text-align: center;
	margin:5% auto;
	display: inline-block;
	margin-bottom: 0;
	/*border-bottom: 0;*/
	/*border-bottom: 2px #fff solid;*/

}
.replyTip{
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #ccc;
	border: 1px #ccc solid;
	text-align: center;
	margin:5% auto;
	display: inline-block;
	margin-bottom: 0;
	border-bottom: 0;
}
.dttest{
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #ccc;
	border: 1px #ccc solid;
	/*color: #1E90FF;*/
	text-align: center;
	margin:5% auto;
	display: inline-block;
	margin-bottom: 0;
	border-bottom: 0;
}
.testBlock{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	border-top: 1px #ccc solid;
}
/*.testChoice{
	text-align: center;
}*/
#testHead{
	text-align: center;
	border-bottom: 1px #ccc solid;
}
.choices{
	text-align: center;
	margin-top: 2%;
	margin-bottom: 5%;
	border-radius: 5px;
}

/*测试内容页面*/
.testId{
	margin-top: 5%;
}
.test_content{
    position: absolute;
    top: 8%;
    right: 0;
    left: 0;
}
.test_content span{
	text-align: center;
}
.testSubmit{
	background-color: #1E90FF;
	border-radius: 3px;
	text-align: center;
	color: #fff;
	margin-bottom: 4%;
}
/*消息页面*/
.sm_content{
	position: relative;
	border-bottom: 1px #ccc solid;
	padding-top: 3%;
}
.sm_cooperation img{
	width: 60%;
}
.sm_con{
	padding-left: 0;
}
.sm_con span{
	font-weight: bold;
	font-size: 16px;
}
.coop_content{
	position: absolute;
	z-index: 1000;
	border: 2px #00bb9c dashed;
	background-color: #fff;
	top: 50%;
}
.sys_content{
	position: absolute;
	z-index: 1000;
	border: 2px #f4c600 dashed;
	background-color: #fff;
	top: 100%;
}
.coop_content_eg{
	border-bottom: 1px #00bb9c dashed;
}
.sys_content_eg{
	border-bottom: 1px #f4c600 dashed;
}
.coop_content_eg img,.sys_content_eg img{
	width: 5%;
}